@using Core.Application.ViewModels.Report
@using System.Globalization
@model ReportStakingSummaryViewModel

@{
    ViewBag.Title = "Staking Report";
}

@section Styles{
    <link href="~/admin-app/controllers/report-staking/index.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/admin-app/controllers/report-staking/index.js"></script>
    <script>
        var reportController = new ReportController();
        reportController.initialize();
    </script>
}

<div class="d-flex flex-column flex-column-fluid">

    @await Html.PartialAsync("_ToolbarPartial")

    <div id="kt_app_content" class="app-content flex-column-fluid pt-6 pt-lg-10">
        <div id="kt_app_content_container" class="app-container container-xxl">

            <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
                <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3">
                    <div class="card card-flush">
                        <div class="card-header pt-1">
                            <div class="card-title d-flex flex-column">
                                <div class="d-flex align-items-center">
                                    <span class="fs-2 fw-bold text-dark me-2 lh-1 ls-n2 lblTotalStaking">@(Model.StakingAmount.ToString("0.00", CultureInfo.InvariantCulture)) </span>
                                    <span class="fs-4 fw-semibold text-gray-500 me-1 align-self-start">@(CommonConstants.TOKEN_IN_CODE)</span>
                                </div>
                                <span class="text-gray-600 pt-1 fw-bolder fs-5">
                                    Staking Amount
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3">
                    <div class="card card-flush">
                        <div class="card-header pt-1">
                            <div class="card-title d-flex flex-column">
                                <div class="d-flex align-items-center">
                                    <span class="fs-2 fw-bold text-dark me-2 lh-1 ls-n2 lblTotalValueLocked">@(Model.StakingAffiliateAmount.ToString("0.00", CultureInfo.InvariantCulture)) </span>
                                    <span class="fs-4 fw-semibold text-gray-500 me-1 align-self-start">@(CommonConstants.TOKEN_IN_CODE)</span>
                                </div>
                                <span class="text-gray-600 pt-1 fw-bolder fs-5">
                                    Staking Affiliate
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3">
                    <div class="card card-flush">
                        <div class="card-header pt-1">
                            <div class="card-title d-flex flex-column">
                                <div class="d-flex align-items-center">
                                    <span class="fs-2 fw-bold text-dark me-2 lh-1 ls-n2 lblTotalValueLocked">@(Model.StakingMaxout.ToString("0.00", CultureInfo.InvariantCulture))</span>
                                    <span class="fs-4 fw-bolder text-gray-500 me-1 align-self-start">%</span>
                                </div>
                                <span class="text-gray-600 pt-1 fw-bolder fs-5">
                                    Staking Maxout
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                <form>
                    @Html.AntiForgeryToken()

                    <div class="card-body p-9">
                        <div class="row mb-10">
                            <label class="col-lg-2 fw-bold text-muted">Affiliate F1</label>
                            <div class="col-lg-2">
                                @if (Model.ReferralLevel >= 1)
                                {
                                    <span class="badge badge-light-success me-auto">YES</span>
                                }
                                else
                                {
                                    <span class="badge badge-light-danger me-auto">NO</span>
                                }
                            </div>
                            <label class="col-lg-2 fw-bold text-muted">Affiliate F2</label>
                            <div class="col-lg-2">
                                @if (Model.ReferralLevel >= 2)
                                {
                                    <span class="badge badge-light-success me-auto">YES</span>
                                }
                                else
                                {
                                    <span class="badge badge-light-danger me-auto">NO</span>
                                }
                            </div>
                            <label class="col-lg-2 fw-bold text-muted">Affiliate F3</label>
                            <div class="col-lg-2">
                                @if (Model.ReferralLevel >= 3)
                                {
                                    <span class="badge badge-light-success me-auto">YES</span>
                                }
                                else
                                {
                                    <span class="badge badge-light-danger me-auto">NO</span>
                                }
                            </div>

                        </div>
                        <div class="row mb-10">
                            <label class="col-lg-2 fw-bold text-muted">Affiliate F4</label>
                            <div class="col-lg-2">
                                @if (Model.ReferralLevel >= 4)
                                {
                                    <span class="badge badge-light-success me-auto">YES</span>
                                }
                                else
                                {
                                    <span class="badge badge-light-danger me-auto">NO</span>
                                }
                            </div>
                            <label class="col-lg-2 fw-bold text-muted">Affiliate F5</label>
                            <div class="col-lg-2">
                                @if (Model.ReferralLevel >= 5)
                                {
                                    <span class="badge badge-light-success me-auto">YES</span>
                                }
                                else
                                {
                                    <span class="badge badge-light-danger me-auto">NO</span>
                                }
                            </div>
                            <label class="col-lg-2 fw-bold text-muted">Affiliate F6</label>
                            <div class="col-lg-2">
                                @if (Model.ReferralLevel >= 6)
                                {
                                    <span class="badge badge-light-success me-auto">YES</span>
                                }
                                else
                                {
                                    <span class="badge badge-light-danger me-auto">NO</span>
                                }
                            </div>

                        </div>
                        <div class="row mb-10">
                            <label class="col-lg-2 fw-bold text-muted">Affiliate F7</label>
                            <div class="col-lg-2">
                                @if (Model.ReferralLevel >= 7)
                                {
                                    <span class="badge badge-light-success me-auto">YES</span>
                                }
                                else
                                {
                                    <span class="badge badge-light-danger me-auto">NO</span>
                                }
                            </div>
                            <label class="col-lg-2 fw-bold text-muted">Affiliate F8</label>
                            <div class="col-lg-2">
                                @if (Model.ReferralLevel >= 8)
                                {
                                    <span class="badge badge-light-success me-auto">YES</span>
                                }
                                else
                                {
                                    <span class="badge badge-light-danger me-auto">NO</span>
                                }
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
