@{
    var svgIconSuccess = "<div class=\"timeline-icon\" style=\"margin-left: 11px\">" +
                                "<span class=\"svg-icon svg-icon-2 svg-icon-success\">" +
                                    "<svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">" +
                                        "<path opacity=\"0.3\" d=\"M22 12C22 17.5 17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2C17.5 2 22 6.5 22 12ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10ZM6.39999 9.89999C6.99999 8.19999 8.40001 6.9 10.1 6.4C10.6 6.2 10.9 5.7 10.7 5.1C10.5 4.6 9.99999 4.3 9.39999 4.5C7.09999 5.3 5.29999 7 4.39999 9.2C4.19999 9.7 4.5 10.3 5 10.5C5.1 10.5 5.19999 10.6 5.39999 10.6C5.89999 10.5 6.19999 10.2 6.39999 9.89999ZM14.8 19.5C17 18.7 18.8 16.9 19.6 14.7C19.8 14.2 19.5 13.6 19 13.4C18.5 13.2 17.9 13.5 17.7 14C17.1 15.7 15.8 17 14.1 17.6C13.6 17.8 13.3 18.4 13.5 18.9C13.6 19.3 14 19.6 14.4 19.6C14.5 19.6 14.6 19.6 14.8 19.5Z\" fill=\"currentColor\"/>" +
                                        "<path d=\"M16 12C16 14.2 14.2 16 12 16C9.8 16 8 14.2 8 12C8 9.8 9.8 8 12 8C14.2 8 16 9.8 16 12ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z\" fill=\"currentColor\" />" +
                                    "</svg>" +
                                "</span>" +
                            "</div>";

    var svgIconDanger = "<div class=\"timeline-icon\" style=\"margin-left: 11px\">" +
                                "<span class=\"svg-icon svg-icon-2 svg-icon-danger\">" +
                                    "<svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">" +
                                        "<path opacity=\"0.3\" d=\"M22 12C22 17.5 17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2C17.5 2 22 6.5 22 12ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10ZM6.39999 9.89999C6.99999 8.19999 8.40001 6.9 10.1 6.4C10.6 6.2 10.9 5.7 10.7 5.1C10.5 4.6 9.99999 4.3 9.39999 4.5C7.09999 5.3 5.29999 7 4.39999 9.2C4.19999 9.7 4.5 10.3 5 10.5C5.1 10.5 5.19999 10.6 5.39999 10.6C5.89999 10.5 6.19999 10.2 6.39999 9.89999ZM14.8 19.5C17 18.7 18.8 16.9 19.6 14.7C19.8 14.2 19.5 13.6 19 13.4C18.5 13.2 17.9 13.5 17.7 14C17.1 15.7 15.8 17 14.1 17.6C13.6 17.8 13.3 18.4 13.5 18.9C13.6 19.3 14 19.6 14.4 19.6C14.5 19.6 14.6 19.6 14.8 19.5Z\" fill=\"currentColor\"/>" +
                                        "<path d=\"M16 12C16 14.2 14.2 16 12 16C9.8 16 8 14.2 8 12C8 9.8 9.8 8 12 8C14.2 8 16 9.8 16 12ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z\" fill=\"currentColor\" />" +
                                    "</svg>" +
                                "</span>" +
                            "</div>";
}
<div class="card card-flush">
    <div class="card-header pt-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bold text-dark fs-5">Roadmap</span>
            <span class="text-gray-400 pt-2 fw-semibold fs-6">Implementation roadmap</span>
        </h3>
        <div class="card-toolbar">
        </div>
    </div>
    <div class="card-body pt-6">
        <div class="timeline-label">

            <div class="timeline-item">
                <div class="timeline-label fw-bold text-gray-600 fs-6">08/15/2022</div>
                <div class="timeline-badge">
                    <i class="fa fa-genderless text-success fs-1"></i>
                </div>
                <div class="fw-semibold text-gray-600 ps-3 fs-6">
                    Website building, social building, partner connection, community connection
                </div>
            </div>

            <div class="timeline-item d-flex align-items-center">
                <div class="timeline-label fw-bold text-dark fs-6">11/19/2022</div>
                <div class="timeline-badge">
                    <i class="fa fa-genderless text-primary fs-1"></i>
                </div>
                <div class="timeline">
                    <div class="timeline-item align-items-center mb-4">
                        <div class="timeline-line w-40px mt-6 mb-n8"></div>

                        @Html.Raw(svgIconSuccess)

                        <div class="timeline-content m-0">
                            <span class="fs-6 fw-semibold text-success">Launch the airdrop program</span>
                        </div>
                    </div>
                    <div class="timeline-item align-items-center">
                        <div class="timeline-line w-40px"></div>

                        @Html.Raw(svgIconSuccess)

                        <div class="timeline-content m-0">
                            <span class="fs-6 fw-semibold text-success">Launch staking program</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-label fw-bold text-gray-700 fs-6">03/31/2023</div>
                <div class="timeline-badge">
                    <i class="fa fa-genderless text-active-gray-600 fs-1"></i>
                </div>
                <div class="timeline">
                    <div class="timeline-item align-items-center mb-4">
                        <div class="timeline-line w-40px mt-6 mb-n8"></div>
                        @Html.Raw(svgIconDanger)
                        <div class="timeline-content m-0">
                            <span class="fs-6 fw-semibold text-gray-800">List HBT token on the decentralized exchange Pancakeswap</span>
                        </div>
                    </div>
                    <div class="timeline-item align-items-center mb-4">
                        <div class="timeline-line w-40px mb-n8"></div>
                        @Html.Raw(svgIconDanger)
                        <div class="timeline-content m-0">
                            <span class="fs-6 fw-semibold text-gray-800">List HBT token on Poocoin</span>
                        </div>
                    </div>
                    <div class="timeline-item align-items-center">
                        <div class="timeline-line w-40px"></div>
                        @Html.Raw(svgIconDanger)
                        <div class="timeline-content m-0">
                            <span class="fs-6 fw-semibold text-gray-800">List HBT token on TradingView</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-label fw-bold text-gray-700 fs-6">04/15/2023</div>
                <div class="timeline-badge">
                    <i class="fa fa-genderless text-active-gray-600 fs-1"></i>
                </div>
                <div class="fw-semibold text-gray-800 ps-3 fs-6">
                    List HBT token Coinmarketcap, Coingecko, Coinomi
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-label fw-bold text-gray-700 fs-6">07/01/2023</div>
                <div class="timeline-badge">
                    <i class="fa fa-genderless text-active-gray-600 fs-1"></i>
                </div>
                <div class="fw-semibold text-gray-800 ps-3 fs-6">
                    Launch P2P exchange
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-label fw-bold text-gray-700 fs-6">10/31/2023</div>
                <div class="timeline-badge">
                    <i class="fa fa-genderless text-active-gray-600 fs-1"></i>
                </div>
                <div class="fw-semibold text-gray-800 ps-3 fs-6">
                    List HBT token on Centralized Exchange MEXC
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-label fw-bold text-gray-700 fs-6">01/09/2024</div>
                <div class="timeline-badge">
                    <i class="fa fa-genderless text-active-gray-600 fs-1"></i>
                </div>
                <div class="fw-semibold text-gray-800 ps-3 fs-6">
                    List HBT token on Centralized Exchange Kucoin
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-label fw-bold text-gray-700 fs-6">06/09/2024</div>
                <div class="timeline-badge">
                    <i class="fa fa-genderless text-active-gray-600 fs-1"></i>
                </div>
                <div class="fw-semibold text-gray-800 ps-3 fs-6">
                    Launch Centralized Exchange
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-label fw-bold text-gray-700 fs-6">12/01/2024</div>
                <div class="timeline-badge">
                    <i class="fa fa-genderless text-active-gray-600 fs-1"></i>
                </div>
                <div class="timeline">
                    <div class="timeline-item align-items-center mb-4">
                        <div class="timeline-line w-40px mt-6 mb-n8"></div>
                        @Html.Raw(svgIconDanger)
                        <div class="timeline-content m-0">
                            <span class="fs-6 fw-semibold text-gray-800">Launch Hebeto Blockchain on Testnet</span>
                        </div>
                    </div>
                    <div class="timeline-item align-items-center">
                        <div class="timeline-line w-40px"></div>
                        @Html.Raw(svgIconDanger)
                        <div class="timeline-content m-0">
                            <span class="fs-6 fw-semibold text-gray-800">Launch Hebeto Wallet on Testnet</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-label fw-bold text-gray-700 fs-6">05/09/2025</div>
                <div class="timeline-badge">
                    <i class="fa fa-genderless text-active-gray-600 fs-1"></i>
                </div>
                <div class="timeline">
                    <div class="timeline-item align-items-center mb-4">
                        <div class="timeline-line w-40px mt-6 mb-n8"></div>
                        @Html.Raw(svgIconDanger)
                        <div class="timeline-content m-0">
                            <span class="fs-6 fw-semibold text-gray-800">Launch miner to join HBTB mining network according to Proof of Stake (POS)</span>
                        </div>
                    </div>
                    <div class="timeline-item align-items-center">
                        <div class="timeline-line w-40px"></div>
                        @Html.Raw(svgIconDanger)
                        <div class="timeline-content m-0">
                            <span class="fs-6 fw-semibold text-gray-800">Launch initialize Smart Contract</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-label fw-bold text-gray-700 fs-6">03/01/2026</div>
                <div class="timeline-badge">
                    <i class="fa fa-genderless text-active-gray-600 fs-1"></i>
                </div>
                <div class="timeline">
                    <div class="timeline-item align-items-center mb-4">
                        <div class="timeline-line w-40px mt-6 mb-n8"></div>
                        @Html.Raw(svgIconDanger)
                        <div class="timeline-content m-0">
                            <span class="fs-6 fw-semibold text-gray-800">Launch Hebeto Blockchain on Mainnet</span>
                        </div>
                    </div>
                    <div class="timeline-item align-items-center">
                        <div class="timeline-line w-40px"></div>
                        @Html.Raw(svgIconDanger)
                        <div class="timeline-content m-0">
                            <span class="fs-6 fw-semibold text-gray-800">Swap HBTB from Testnet to Mainnet</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>